<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='../public/stylesheets/style.css'/>
      <!-- includes the Braintree JS client SDK -->
      <script src='https://js.braintreegateway.com/web/dropin/1.25.0/js/dropin.min.js'></script>
      <!-- includes jQuery -->
      <script src='http://code.jquery.com/jquery-3.2.1.min.js' crossorigin="anonymous"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
